@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

/* ----- header section start ----- */

.header-section {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 13vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34rem;
  padding: 0 150px 0 150px;
}

.header-section .logo {
  width: 22rem;
}

.header-section nav,
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.2rem;
}

nav ul li a {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #1b1a1a;
  font-weight: 400;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1b1a1a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-section .header-btn {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px 20px;
  color: #1b1a1a;
  background-color: #fff;
  border-radius: 1.4rem;
  border: 2px solid currentColor;
  overflow: hidden;
  text-decoration: none;
  transition: 0.2s transform ease-in-out, 0.2s color ease-in-out;
  will-change: transform;
  z-index: 0;
}

.header-section .header-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1b1a1a;
  border-radius: inherit;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.3s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.header-section .header-btn:hover::after {
  transform: translate(0, 0);
}

.header-section .header-btn:hover {
  color: #fff;
  border-color: transparent;
  transform: scale(1.05);
}

/* ----- header section end ----- */

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #ece7e4;
  gap: 8rem;
}

.hero-section .hero-desc {
  width: 60rem;
  margin: 60px;
  padding: 130px 40px 40px 40px;
}

.hero-desc #text1 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #645c55;
}

.hero-desc h1 {
  font-size: 6.4rem;
  font-weight: 400;
  color: #1b1a1a;
  line-height: 1;
  margin-top: 20px;
}

.hero-desc #text2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #403e3b;
  margin-top: 18px;
}

.hero-desc a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #1b1a1a;
  margin-top: 40px;
}

.hero-section img {
  width: 100%;
  height: 100%;
}

/* ----- hero section end ----- */

/* ----- meda ----- */

@media (max-width: 1440px) {
  .header-section {
    gap: 24rem;
  }
}

@media (max-width: 1300px) {
  .header-section {
    gap: 14rem;
  }
}

@media (max-width: 1210px) {
  .header-section {
    gap: 8rem;
  }

  .hero-section {
    grid-template-columns: 1fr;
    height: 100%;
    gap: 8rem;
  }

  .hero-section .hero-desc {
    margin: 0 auto;
    text-align: center;
    padding-top: 20rem;
  }

  .hero-section img {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    border-radius: 1.5rem;
  }
}

@media (max-width: 1160px) {
  .header-section ul {
    display: none;
  }
}

@media (max-width: 900px) {
  .hero-section .hero-desc h1 {
    font-size: 5.1rem;
  }

  .hero-section .hero-desc #text2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 740px) {
  .header-section {
    padding: 1rem;
  }
}
